* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  line-height: normal;
  font-weight: normal;
  text-align: justify;
}
.card-title{
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}
.global-con {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.global_box {
  width: 100%;
  height: max-content;
  padding: 15px;
  margin: 2% auto 1% auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  text-align: center;
}
.scatter-chart {
  width: 70%;
  height: 70%;
  margin: auto;
}
.individual_box {
  width: 100%;
  border-radius: 20px;
  padding: 15px;
  margin: 2% auto 1% auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  height: max-content;
}

.radar-chart {
  width: 50%;
  height: 40%;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
/* SortableTable*/
.sortable-table {
  width: 100%;
  margin: 20px auto;
}


.data-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table-header {
  padding: 10px;
  border: 1.5px solid black;
  background-color: #f4f4f4;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
}

.table-header.sortable:hover {
  background-color: #e0e0e0;
}

.table-row {
  border: 1.5px solid black;
}

.table-cell {
  padding: 10px;
  border: 1.5px solid black;
  text-align: center;
}

.table-cell.ellipsis {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ellipsis:hover{
  cursor: pointer;
  text-decoration: underline;
  font-weight: bold;
  color: #007bff;
}

.details-popup {
  margin-top: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.details-popup h3{
  margin-bottom: 10px;
  font-weight: bold;
}
strong{
  font-weight: bold;
}
.details-popup p{
  margin: 10px auto;
}
